/* src/css/ProfileIcon.css */

.profile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px; /* Ensure consistent size */
    height: 200px;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    font-size: 6rem; /* Increase font size */
    font-weight: bold;
    text-transform: uppercase;
}
